<ion-header>  
  <ion-toolbar >
    <ion-item lines="none">
      <ion-avatar item-left>
       <img src="./assets/goiaba.jpeg">
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="happy" item-left></ion-icon>
    <ion-input (click)="openPublishPage();" type="text" placeholder=" e ai, o que temos de (G)old hoje?"></ion-input>
    <ion-icon name="create" item-right></ion-icon>
  </ion-item>
  <app-post *ngFor="let postData of posts | async" [post]="postData"></app-post>
</ion-content>
